name: Predict New Data

on:
  push:
    paths:
      - "data/new_data/**"

jobs:
  predict:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run prediction script
        run: python src/predict.py

      - name: Upload predictions
        uses: actions/upload-artifact@v4
        with:
          name: predictions
          path: data/predictions/predicted_output.csv
